<br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="jumbotron text-center">
        <h1 class="display-4 text-center">Say YES!</h1>
        <p class="lead text-center">Let English be your passport to the world!</p>
        <hr class="my-4">
         <p>Años de trayectoria, calidad y compromiso</p>
      </div>
    </div>
    <div class="col-6">
    <img id="Nena" src="./../assets/img/logo.png" alt="">
    </div>
</div>
</div>


  <div class="container">
      <div class="row">
        <div class="col-6">
        <img id="Nena2" src="./../assets/img/nena1.png" alt="">
        </div>
        <div class="col-6">
            <div class="jumbotron">
                
            <p>Exámenes Internacionales</p>
            <p>Clases grupales e individuales</p>
            <p>Inglés para Empresas</p>
          </div>
    </div>
    </div>
    </div>