
<div class="container-fluid">
  <div class="row">
    <div class="col-6">

        <p>Teléfono de contacto: </p>
        <p>Tel. 436495 // Cel. 03489-15620101</p>
        <br>
        <p>Seguinos en nuestra redes:</p>
        
          <a target="_blank" href="https://www.instagram.com/liceoculturalbritanico/" title=""><img src="assets/img/icono-instagram.png" alt="" style="height: 60px"></a>
          <a target="_blank" href="https://www.facebook.com/yesstudio.instituto/" title=""><img src="assets/img/icon_fc.png" alt="" style="height: 60px"></a>

    </div>
    <div class="col-6">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3303.5462428584224!2d-59.02185798501106!3d-34.106762938879314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb0b5a72e5455d%3A0xad0c5641af33c72c!2sBernardo+de+Irigoyen+1033%2C+B2800KOQ+Z%C3%A1rate%2C+Buenos+Aires!5e0!3m2!1ses-419!2sar!4v1553522229781" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>
  </div>   









